@using BigSister.Core.DTOs;
@{
}
@model WorkItemDto

<div class="col-md-6">
    <form asp-action="WorkItemEkle" method="post">
        <div class="form-group">
            <label asp-for="@Model.Title"></label>
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageUrl"></label>
            <input asp-for="@Model.ImageUrl" class="form-control" />
            <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Context"></label>
            <input asp-for="@Model.Context" class="form-control" />
            <span asp-validation-for="@Model.Context" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Order"></label>
            <input asp-for="@Model.Order" class="form-control" />
            <span asp-validation-for="@Model.Order" class="text-danger"></span>
        </div>
    </form> 
</div>