@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<WorkItem>
@{
    ViewData["Title"] = "İşlerimiz";
}


<section class="section2" style="margin-top:8rem">
    <h1 class="section-header">İşlerimiz</h1>
    <div class="container2">
        <div class="mobile-only">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach(var item in Model)
                    {
                        <div class="carousel-item @(item == Model[0] ? "active" : "")">
                            <div class="card" style="width: 10rem;">
                                <div class="card-content">
                                    <a class="cardlink" href="#"><img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></a>
                                    <div class="card-body">
                                        <p class="card-text">@item.Context</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }              
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
            <div style="display:flex; justify-content:center">
                @Html.PagedListPager((IPagedList)Model,page=>Url.Action("islerimiz",new {page}))
            </div>
        </div>
        <div class="desktop-only">
            <div class="cards">
                @foreach (var item in Model)
                {

                    <div class="card" style="width: 25rem;">
                        <div class="card-content">
                            <a class="cardlink" href="#"><img class="card-img-top" src="@item.ImageUrl" alt="Card image cap"></a>
                            <div class="card-body">
                                <p class="card-text">@item.Context</p>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div style="display:flex; justify-content:center">
                @Html.PagedListPager((IPagedList)Model,page=>Url.Action("islerimiz",new {page}))
            </div>
        </div>
    </div>
</section>
